@model Escuela;

@{
    ViewData["Title"] = "Escuela";
}

<h1>Datos de la escuela</h1>

<p><strong>Nombre:</strong> @Model.Nombre</p>
<p><strong>Dirección:</strong> @Model.Direccion</p>
<p><strong>Año de fundación:</strong> @Model.AnioFundacion</p>