@model Escuela;

@{
    ViewData["Title"] = "Datos de la escuela";
}

<h1>@ViewData["Title"]</h1>

<p><strong>Nombre:</strong> @Model.Nombre</p>
<p><strong>Dirección:</strong> @Model.Direccion</p>
<p><strong>Año de fundación:</strong> @Model.AnioFundacion</p>