@model List<ObjetoEscuelaBase>

@{
    ViewData["Title"] = "Datos de las asignaturas";
}

<h1> @ViewData["Title"] </h1>

@foreach (var asignatura in Model)
{
    <partial name="_PartialObjetoEscuelaBase" model="asignatura" />
}