@model List<Asignatura>

@{
    ViewData["Title"] = "Datos de la asignatura";
}

<h1> @ViewData["Title"] </h1>

@foreach (var asignatura in Model)
{
    <partial name="_PartialAsignatura" model="asignatura" />
}